# This is Git's per-user configuration file.
[user]
	name = Benjamin Gleitzman
	email = gleitz@mit.edu

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	pnr = pull --no-rebase
	patch = am <
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	who = shortlog -s --
	last = diff @~..@
	staged = diff --cached
	fgrep = grep @{1} $(git rev-list --all)
	uncommit = reset --soft HEAD^
	pum = !"git fetch origin -v; git fetch upstream -v; git rebase upstream/master"
	pums = !"git stash; git fetch origin -v; git fetch upstream -v; git rebase upstream/master; git stash pop"
	pud = !"git fetch origin -v; git fetch upstream -v; git rebase upstream/develop"
	puds = !"git stash; git fetch origin -v; git fetch upstream -v; git rebase upstream/develop; git stash pop"

[color]
	ui = true
[github]
	user = gleitz
[push]
	default = current
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/bgleitzman/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
[remote]
	pushDefault = origin
	pushRemote = upstream
[gitlab "gitlab.inf.replicant.ai/api/v4"]
	user = gleitz
[forge]
	remote = upstream
